#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#images {
  width: 400px;
  aspect-ratio: 2 / 1.5 ;
  object-fit: cover;
}

.inverse {
  filter: invert(100%);
}